body{
	text-align: center;
}

.main-area{
    padding: 50px 0px 0px 0px;
}
.jumbotron {
    background: rgba(204, 204, 204, 0.5);
}

.text-muted{
	color: blue;
}

.option{
    margin: 15px;
}

.last-seconds{
  color: red;
}

.lead{
    font-weight: bold;
}
